<tr>
  <td><%%= modification.status %> <%%= modification.audited_type %></td>
  <td colspan="2"><%%= modification.modifications %></td>
</tr>
<tr>
  <td colspan="3"><%%= modification.values %></td>
</tr>
